  /* <!-- ----------------------------           NAVBAR START            ---------------------------- --> */


  body {
      margin: 0px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  }

  .navbar {
      margin: 0px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.8);
      /* #dfe2f2; */
      color: #37474F;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      position: sticky;
      top: 0px;
  }


  .first-letter {
      color: #1A237E;
  }

  .left-navbar {
      display: flex;
      align-items: center;
  }

  .right-navbar {
      padding-right: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      visibility: visible;
  }

  .right-navbar a {
      text-decoration: none;
      color: #546E7A;
      font-size: 16px;
      margin: 0px 20px 0px 20px;
      font-weight: 600;

  }

  .right-navbar a:hover {
      color: #D32F2F;
  }

  #menu {
      background-color: white;
      border: none;
  }

  #menu:hover {
      cursor: grab;
  }

  #menu img {
      width: 30px;
      margin: 0px 10px 0px 0px;
      visibility: hidden;
  }

  #drop-down {
      position: absolute;
      top: -70px;
      left: 50px;
      background-color: rgb(246, 246, 251, 0.9);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      border-radius: 20px;
      padding: 10px;
  }

  .drop-down-list {
      margin-top: 80px;
      width: 100px;
  }

  .drop-down-list a {
      text-decoration: none;
      display: block;
      width: 100px;
      color: #303360;
      font-weight: 600;
      margin: auto;
  }

  /* < !-- ---------------------------- NAVBAR END --------------------------- ------> */


  /* <!-- ----------------------------  HOME-START          --------------------------- ------> */
  #parent {
      display: block;
      width: 100%;
  }

  #home {
      display: flex;
      margin: auto;
  }

  #left-home {
      width: 50%;
      margin: auto;
      /* background-color: #fff9f9; */
      border-radius: 30px;
      color: #333535;
      margin: 20px;
      padding: 50px 10px;
      /* border: 2px solid #fdc1c1; */
  }

  #left-home p {
      margin-left: 15%;
  }

  .left-navbar h3 {
      width: 200px;
      color: 1px solid red;
  }

  #left-home :nth-child(1) {
      font-size: 30px;
      line-height: 0.2;
  }

  #left-home :nth-child(2) {
      font-size: 50px;
      line-height: 0.2;
      color: #1A237E;
      font-weight: 500;
  }

  #left-home :nth-child(3) {
      font-size: 30px;
      line-height: 0.2;
  }

  #left-home :nth-child(4) {
      font-size: 16px;
      text-align: justify;
      font-weight: 400;
  }

  .contact-div {
      display: flex;
      gap: 20px;
      padding-top: 20px;
      margin-left: 110px;
  }

  .contact-div>a {
      width: 5%;
  }

  .contact-div>a:hover {
      width: 6%;
  }

  .contact-div div img {
      width: 100%;
  }

  #resume-link-2 {
      font-size: 15px;
      width: 150px;
      padding: auto;
      padding: 8px;
      border-radius: 5px;
      background-color: #1A237E;
      color: white;
      font-weight: 600;
      text-decoration: none;
  }

  #resume-link-2:hover {
      background-color: #636ab6;
      color: white;
  }

  #right-home {
      width: 30%;
      height: 30%;
      margin: auto;
      text-align: center;
      border-radius: 20px;
      padding: 20px;
      /* background-image: url('./Images/aa.jpg'); */
  }

  #right-home>img {
      width: 320px;
      height: 320px;
      border-radius: 20px;
      /* border: 1px solid #1A237E; */
      padding: 10px;
      object-fit: cover;
      margin: auto;
      background-color: #e5e6f0;
  }


  /* <!-- ----------------------------  HOME-END          --------------------------- ------> */

  /* <!-- ----------------------------  ABOUT         --------------------------- ------> */

  #about {
      text-align: center;
      width: 60%;
      padding: 20px;
      padding-top: 80px;
      margin: auto;
  }

  .abt-title {
      color: #1A237E;
  }

  .abt-desc {
      text-align: justify;
      font-size: 18px;
      font-weight: 400;
      word-spacing: 1px;
      line-height: 27px;
  }

  .abt-title:hover {
      background-color: #fbf2f2;
      padding: 10px;
      border-radius: 10px;
  }

  /* <!-- ----------------------------  ABOUT-END          --------------------------- ------> */


  /* <!-- ----------------------------  EDUCATION          --------------------------- ------> */
  .education-section {
      margin: 100px 0px;
  }

  #edu-card {
      display: grid;
      text-align: center;
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      margin: auto;
      margin-top: 30px;
  }


  .education-section h1 {
      margin: auto;
      text-align: center;
  }

  .education-section h1:hover {
      width: 50%;
      background-color: #fbf2f2;
      padding: 10px;
      border-radius: 10px;
  }

  .education-section h2 {
      color: rgb(58, 57, 57);
  }

  #edu-card>div {
      width: 90%;
      margin: auto;
      border-radius: 10px;
      border: 1px solid #c5c6da;
  }

  #edu-card>div:hover {
      width: 100%;
      margin: auto;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #c5c6da;
      background-color: #e9ebf9;
  }

  /* <!-- ----------------------------  EDUCATION-END          --------------------------- ------> */


  /* <!-- ----------------------------  PROJECT-start        --------------------------- ------> */
  #projects {
      width: 70%;
      margin: 100px 0px;

  }

  #projects h1 {
      margin: auto;
      padding: auto;
      text-align: center;
      color: #1A237E;
      margin-left: 450px;
  }

  #projects h1:hover {  
      background-color: #fbf2f2;
      padding: 10px;
      border-radius: 10px;
  }

  #project-wrapper {
      display: grid;
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      width: 60%;
      gap: 50px;
      margin: auto;
      margin-top: 30px;
  }

  .project-card {
      /* border: 1px solid #888cb2; */
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .project-img {
      width: 500px;
  }

  .project-img>img {
      width: 100%;
      height: 300px;
      /* border: 1px solid #b1b2bd; */
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;
  }

  .project-card li,
  ul,
  h3,
  h5 {
      text-align: left;
  }

  #project-card p:nth-child(1) {
      text-align: center;
  }

  /* <!-- ----------------------------  PROJECT-END          --------------------------- ------> */



  /* <!-- ----------------------------  SKILLS         --------------------------- ------> */
  #skills {
      width: 50%;
      margin: auto;
      text-align: center;
  }

  #skills h1 {
      margin: auto;
      text-align: center;
      color: #1A237E;
  }

  #skills h1:hover {
      background-color: #fbf2f2;
      padding: 10px;
      border-radius: 10px;
  }

  #skills h2 {
      margin: auto;
      text-align: center;
      padding: 50px 0px;
  }

  .skills-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
  }

  .skills-card {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .skill-img {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      width: 100px;
      margin: auto;
      margin-top: 10px;
      border-radius: 10px;
  }

  .skills-card-img {
      width: 100%;
  }

  /* <!-- ----------------------------  SKILLS-END          --------------------------- ------> */


  #contact {
      padding: 40px 0;
      background-color: #fcf9ff;
      margin-top: 50px;
      border-radius: 40px;
  }

  .contact-title {
      color: #1A237E;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 20px;
  }

  .contact-details {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .contact-details p {
      margin: 10px 0;
      font-size: 1.2rem;
  }

  .contact-details a {
      text-decoration: none;
  }

  .contact-details a:hover {
      text-decoration: underline;
  }

  .names {
      font-weight: 600;
      color: #d75d5d;
      padding-right: 8px;
  }

  /* --------------------------------------- Conatct ------------------------------------------ */
  #github h1 {
      margin: auto;
      text-align: center;
      color: #1A237E;
      margin: 100px 0px 40px 0px;
  }

  #github h1:hover {
      background-color: #fbf2f2;
      padding: 10px;
      border-radius: 10px;
  }

  .react-activity-calendar {
      display: flex;
      width: 90%;
      margin: auto;
      gap: 20px
  }

  /* < !-- ---------------------------- MEDIA QUERY --------------------------- ------> */

  @media only screen and (max-width: 600px) {

      .left-navbar {
          padding-left: 10px;
      }

      .left-navbar #menu {
          padding-right: 10px;
      }

      .right-navbar {
          padding-right: 50px;
          visibility: hidden;
      }

      .right-navbar a {
          margin: 0px 10px 0px 10px;
      }

      #menu img {
          visibility: visible;
      }

      #home {
          display: block;
      }

      #left-home {
          width: 100%;
          margin: auto;
      }

      .contact-div>a {
          width: 50%;
      }

      #left-home :nth-child(1) {
          line-height: 0.2;
      }

      #left-home :nth-child(2) {
          line-height: 0.8;
      }

      #left-home :nth-child(3) {
          line-height: 0.8;
      }

      .contact-div {
          display: flex;
          gap: 20px;
          padding-top: 20px;
          margin-left: 50px;
      }

      #about {
          text-align: center;
          width: 80%;
          padding: 20px;
          padding-top: 80px;
          margin: auto;
      }

      #edu-card {
          display: grid;
          text-align: center;
          grid-template-columns: repeat(1, 1fr);
          width: 90%;
          margin: auto;
          margin-top: 30px;
          margin-bottom: 30px;
      }

      #project-wrapper {
          display: grid;
          text-align: center;
          grid-template-columns: repeat(1, 1fr);
          width: 60%;
          margin: auto;
          margin-top: 20px;
      }

      #projects h1 {
          width: 100%;
          margin: auto;
          padding: auto;
          text-align: center;
          color: #1A237E;
      }

      .project-card {
          padding: 10px;
      }

      .project-img {
          width: 300px;
      }

      .project-img>img {
          width: 100%;
          height: 150px;
      }

      #edu-card>div {
          margin-bottom: 30px;
      }

      .react-activity-calendar {
          display: block;
          width: 90%;
          margin: auto;
          gap: 20px;
          padding: auto;
      }

      .skills-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
      }

      #react-activity-calendar div {
          width: 200px;
      }

      #github {
          width: 95%;
          margin: auto;
      }

      #github img {
          width: 100%;
      }

      #contact {
          width: 100%;
          padding: 50px;
      }

      #right-home {
          width: 100%;
          margin: auto;
      }
  }


  @media only screen and (min-width: 600px) {


      #drop-down {
          visibility: hidden;
      }

      #left-home :nth-child(1) {
          line-height: 0.2;
      }

      #left-home :nth-child(2) {
          line-height: 0.8;

      }

      #left-home :nth-child(3) {
          line-height: 0.8;
      }
  }

  /* < !-- ---------------------------- MEDIA QUERY END --------------------------- ------> */