  /* <!-- ----------------------------           NAVBAR START            ---------------------------- --> */

  body {
      margin: 0px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .navbar {
      margin: 0px;
      height: 50px;
      background-color: #fbfaf4;
      color: #37474F;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }

  .first-letter {
      color: #485f09;
  }

  .left-navbar {
      display: flex;
      align-items: center;
  }

  .right-navbar {
      padding-right: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      visibility: visible;
  }

  .right-navbar a {
      text-decoration: none;
      color: #546E7A;
      font-size: 16px;
      margin: 0px 20px 0px 20px;
      font-weight: 600;

  }

  .right-navbar a:hover {
      color: #D32F2F;
  }

  #menu img {
      width: 30px;
      margin: 0px 10px 0px 0px;
      visibility: hidden;
  }

  /* < !-- ---------------------------- NAVBAR END --------------------------- ------> */


  /* <!-- ----------------------------  HOME-START          --------------------------- ------> */

  #home {
      display: flex;
  }

  #left-home {
      width: 50%;
      margin: auto;
      /* background-color: #fff9f9; */
      border-radius: 30px;
      color: #333535;
      margin: 20px;
      padding: 50px 10px;
      /* border: 2px solid #fdc1c1; */
  }

  #left-home p {
      margin-left: 15%;
  }

  #left-home :nth-child(1) {
      font-size: 30px;
      line-height: 0.2;
  }

  #left-home :nth-child(2) {
      font-size: 50px;
      line-height: 0.2;
      color: #485f09;
      font-weight: 500;
  }

  #left-home :nth-child(3) {
      font-size: 30px;
      line-height: 0.2;
  }

  #left-home :nth-child(4) {
      font-size: 16px;
      text-align: justify;
      font-weight: 400;
  }

  #right-home {
      width: 40%;
      margin: auto;
      border-radius: 30px;
      /* background-color: #f6f6f6; */
      margin: 20px;
  }

  #right-home>img {
      width: 60%;
      margin-top: 50px;
      /* border: 1px solid #B71C1C; */
      border-radius: 50%;
  }

  /* <!-- ----------------------------  HOME-END          --------------------------- ------> */

  /* <!-- ----------------------------  ABOUT         --------------------------- ------> */

  #about {
      text-align: center;
      width: 60%;
      padding: 20px;
      padding-top: 80px;
      margin: auto;
  }

  .abt-title {
      color: #485f09;
  }

  .abt-desc {
      text-align: justify;
      font-size: 18px;
  }



  /* <!-- ----------------------------  ABOUT-END          --------------------------- ------> */


  /* < !-- ---------------------------- MEDIA QUERY --------------------------- ------> */

  @media only screen and (max-width: 600px) {

      .left-navbar {
          padding-left: 10px;
      }

      .left-navbar #menu {
          padding-right: 10px;
      }

      .right-navbar {
          padding-right: 50px;
          visibility: hidden;
      }

      .right-navbar a {
          margin: 0px 10px 0px 10px;
      }

      #menu img {
          visibility: visible;
      }

      #home {
          display: block;
      }

      #left-home :nth-child(1) {
          line-height: 0.2;
      }

      #left-home :nth-child(2) {
          line-height: 0.8;

      }

      #left-home :nth-child(3) {
          line-height: 0.8;
      }

  }

  @media only screen and (min-width: 600px) {}

  /* < !-- ---------------------------- MEDIA QUERY END --------------------------- ------> */